:root {
    --primary-color: #a2a9c1;
    --secondary-color: #c9cfdf;
    --secondary-color-2: #ffffff;
    --accent-color: #232323;
    --shadow-color: rgba(140, 94, 195, 0.15);
    --font-family-primary: "Barlow", sans-serif;
    --font-family-secondary: "Abel", sans-serif;
    --grid-item-size: 80px;
  }

body {
    padding: 0;
    margin: 0;
}

.content {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
}

.ctn__main {
    /* background: linear-gradient(0deg, var(--secondary-color) 0%,var(--secondary-color-2) 100%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 2rem;
}

.ctn__main__title {
    background-color: var(--secondary-color);
    backdrop-filter: blur(10px);
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
    font-family: var(--font-family-primary);
    color: white;
    border-radius: 12px;
    line-height: 1.5;
    filter: drop-shadow(0 0 0.75rem var(--shadow-color));
}

.ctn__main__screen {
    background-color: var(--accent-color);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8, var(--grid-item-size));
    grid-template-rows: repeat(5, var(--grid-item-size));
    gap: 0.5rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 12px;
    border-color: var(--shadow-color);
    border-style: double;
    border-width: 5px;
}

.grid__item {
    border-radius: 6px;
    font-family: var(--font-family-secondary);
    filter: drop-shadow(0 0 0.05rem white);
}

.ctn__main__panel {
    backdrop-filter: blur(10px);
    background-color: var(--secondary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 12px;
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-family-secondary);
}

.ctn__main__instructions {
    backdrop-filter: blur(10px);
    background-color: var(--secondary-color);
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 12px;
    font-size: 1rem;
    text-align: center;
    font-family: var(--font-family-primary);

    .__intructions__text {
        width: 690px;
        margin: 0rem 1rem;
        text-align: justify;
        line-height: 1;

        .__text__emphasis {
            font-weight: bold;
        }
    }
}

.panel__bananas {
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    margin-left: 0.85rem;
    border-radius: 12px;
    text-align: left;
    line-height: 1.5;
    color: white;
    filter: drop-shadow(0 0 0.75rem var(--shadow-color));
}

.panel__score {
    background-color: var(--primary-color);
    width: 5rem;
    margin-right: 0.85rem;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    line-height: 1.5;
    filter: drop-shadow(0 0 0.75rem var(--shadow-color));
}



.display__numbers {
    color: white;
    text-align: center;
    font-size: 5rem;
    line-height: 1;
}

.hide__numbers {
    background-color: white;
    border-style: none;
}

.disabledElement {
    pointer-events: none;
}

.popup {
    background-color: var(--primary-color);
    opacity: 98%;
    border-radius: 12px;
    z-index: 9;
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    visibility: hidden;

    .popup__ctn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        .popup__form {
            background:var(--secondary-color);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 50%;
            width: 20%;
            border-radius: 12px;

            .form__label {
                width: 100%;
                font-family: var(--font-family-primary);
                font-size: 2rem;
                text-align: center;
                margin: 0;
                padding: 0;

            }
            .form__inputText {
                width: 50%;
                height: 4rem;
                font-family: var(--font-family-secondary);
                font-size: 2rem;
                text-align: center;
                margin: 0;
                padding: 0;
                border-style: none;
                border-radius: 6px;
            }
            .form__inputScore {
                background-color: white;
                width: 50%;
                height: 4rem;
                font-family: var(--font-family-secondary);
                font-size: 2rem;
                text-align: center;
                margin: 0;
                padding: 0;
                border-style: none;
                border-radius: 6px;
                line-height: 2;
            }
            .form__button {
                width: 50%;
                height: 4rem;
                font-family: var(--font-family-secondary);
                font-size: 1rem;
                margin: 0;
                padding: 0;
                border-radius: 6px;
                border-style: none;
                background-color: var(--accent-color);
                color: white;
            }
            
            hr {
                width: 90%;
                border-style: solid;
                color: black;
            }
        }

        .popup__close {
            z-index: 10;
            width: 100%;
            height: 2rem;
            display: flex;
            justify-content: flex-end;

            .close__button {
                padding: 0.4rem;
                margin-right: 1.2rem;
                border-radius: 6px;
                border-style: none;
                line-height: 2.3;
            }
        }
    }
}

.display__popup {
    visibility:visible;
}